* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --SoftRed: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --DarkBrown: hsl(25, 47%, 15%);
    --MediumBrown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --VeryPaleOrange: hsl(33, 100%, 98%);
}
html {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}